.haraomni__outer-wrapper {
  font-family: 'Open Sans';
  -webkit-font-smoothing: antialiased;
  background: white;
}

.haraomni__headline {
  color: rgba(21,101,192,1);
  font-weight: 300;
  line-height: 34px;
}

.haraomni__sub-headline {
  color: rgba(0,0,0,1);
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
}

.haraomni__icon-container {
  background-color : rgba(21,101,192,1);
  border: 0px;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.haraomni__shape-outer {
  width: 51px;
  height: 51px;
}

.haraomni__justify-icon {
  display: flex;
  justify-content: center;
}

.footer-container {
  font-family: 'Open Sans';
  -webkit-font-smoothing: antialiased;
  background: rgba(21,101,192,1);
}

.footer-container h1,
.footer-container h2,
.footer-container h3,
.footer-container h4,
.footer-container h5,
.footer-container p {
  color: white;
  font-weight: 300;
}

.contact-modal-headline {
  text-transform: uppercase;
  color: white;
  text-align: center;
}

.contact-modal-header-container {
  background: rgba(21,101,192,1);
}

@media (min-width: 768px) {
  .img_omimb {
    display: none !important;
  }
}

.custom-modal {
  position: fixed;
  z-index: 20;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.backdrop {
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: rgba(0,0,0,0.45);
  display: none;
}

.loading-icon {
  margin-right: 5px; 
  display: none;
}

.textboxnhapemail {
  min-width: 180px;
}

@media (min-width: 768px) {
  .custom-modal-content {
    width: 400px;
  }
}

@media (max-width: 767px) {
  .custom-modal-content {
    width: 300px;
  }
}
